a {
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: lightgray;
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.mat-toolbar.mat-primary{
    background: white;
    color: #333333;
}

.navbar.navbar-absolute{
    padding-top: 0px;
}

.pt-15{
    padding-top: 15px;
}

.toggle_btn{
    background-color: lightgray;
}
